@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>@ViewData["Title"]</h1>
            <p class="mt-5">We respect the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website, including any other media form, media channel, mobile website, or mobile application related or connected thereto. Please read this privacy policy carefully.  If you do not agree with the terms of this privacy policy, please do not access the site. </p>
        </div>
    </div>
</div>

